* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  border: none;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-padding-top: 30vh;
  scroll-behavior: smooth;
}
body {
  width: 100%;
}
html {
  font-size: 62.5%;
}
:root {
  --primary-color: #4b9250;
  --secondary-color: #fea23b;
  --p-text: #000000;
  --s-text: #ffffff;
  --bg-logo: #ffffff;
  --mobile-txt: 1.6rem;
  --mobile-txt2: 1.4rem;
  --mobile-h1: 2rem;
  --mobile-h2: 2.5rem;
  --mobile-h3: 2rem;
  --desktop-txt: 2rem;
  --desktop-h1: 3.2rem;
  --desktop-h2: 3.2rem;
  --desktop-h3: 2.4rem;
}
a {
  color: var(--p-text);
  transition: 0.5s;
}
a:hover {
  transform: scale(1.1);
}
i {
  font-size: 36px;
}
h1,
h2 {
  font-family: "Roboto";
  text-transform: uppercase;
  text-align: center;
}
h1{
  font-size: var(--mobile-h1);
}
h2 {
  font-size: var(--mobile-h2);
}
p {
  font-family: "Nunito", sans-serif;
}
@keyframes slide {
  from{
    right: -100vw;
  }
  to{
    right: 0vw;
  }
}
#mobile-nav {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: var(--secondary-color);
  right: -100vw;
  z-index: 5;
  text-align: center;
  padding-top: 21vh;
  align-items: start;
  justify-content: center;
  transition: .5s;
  &.show{
    transition: .5s;
    display: flex;
    right: 0vw;
    animation: slide .5s;
  }
  ul {
    border-top: 5px solid var(--p-text);
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    li {
      width: 100%;
      a {
        font-size: var(--desktop-h2);
        font-weight: bold;
      }
    }
  }
}
.device-padding {
  padding: 0 2%;
}
.btn-primary {
  background-color: var(--primary-color);
}
hr {
  width: 100%;
  height: 1px;
  background-color: var(--p-text);
}
header {
  width: 100vw;
  height: 180px;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-color);
  padding-top: 1rem;
  gap: 1rem;
  z-index: 10;
  i.line {
    width: 1px;
    height: 100%;
    background-color: #000000;
  }
  #desktop-menu {
    display: none;
    background-color: var(--secondary-color);
    padding-bottom: 1rem;
  }
  #mobile-menu {
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    button {
      background-color: transparent;
    }
  }
  .header_logo {
    width: 25%;
    background-color: var(--bg-logo);
    border-radius: 50%;
    max-width: 90px;
    aspect-ratio: 1/1;
  }
  hr {
    width: 100%;
    height: 5px;
    color: var(--p-text);
    background-color: var(--p-text);
  }
  nav {
    width: 100%;
    ul {
      font-family: "Roboto";
      display: flex;
      justify-content: space-between;
      li {
        display: flex;
        a {
          font-size: var(--desktop-h2);
          font-weight: bold;
        }
      }
    }
  }
}
.header {
  h2 {
    color: var(--primary-color);
    font-size: var(--mobile-h2);
  }
  margin-bottom: 10px;
}
#contact{
  padding-top: 30vh;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  form{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    input, textarea{
      width: 100%;
      border: 3px solid var(--primary-color);
      color: var(--primary-color);
    }
    button{
      width: 100%;
      font-weight: 700;
      padding: 5%;
      background-color: var(--primary-color);
    }
  }
}
.contact {
  width: 100%;
  margin-top: 10%;
  padding: 10% 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  font-weight: bold;
  text-align: center;
  a {
    font-size: var(--mobile-h2);
    color: var(--s-text);
    font-family: "Roboto";
    text-transform: uppercase;
  }
}
#main {
  padding-top: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .news {
    display: flex;
    position: relative;
    transition: .5s;
    width: 100%;
    .gallery{
      display: flex;
      flex-direction: column;
      width: inherit;
      justify-content: center;
      .gallery-wrapper{
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        width: inherit;
        max-width: inherit;
        .new{
          img{
            width: 100vw;
            max-width: inherit;
          }
        }
        &::-webkit-scrollbar{
          display: none;
        }
      }
    }
  
    h1 {
      background-color: var(--secondary-color);
      font-size: var(--mobile-h1);
      text-align: start;
      padding: 1rem;
      text-wrap: wrap;
    }
    img {
      width: 100%;
    }
    a.btn {
      justify-content: center;
      display: flex;
      width: 100%;
      text-align: center;
      background-color: var(--primary-color);
      color: var(--s-text);
      padding: 2rem 0;
      font-size: var(--mobile-h3);
      font-weight: bold;
      text-transform: uppercase;
    }
  }
  #btns-news {
    display: flex;
    align-items: center;
    justify-content: center;
    .btn {
      width: 15px;
      height: 15px;
      border: 1px solid var(--s-text);
      background-color: var(--secondary-color);
      border-radius: 50%;
      &.btn-selected {
        background-color: var(--primary-color);
      }
    }
  }
}
#acting{
  h2{
    text-align: center;
    margin-bottom: 2rem;
  }
  .content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .info{
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      gap: 5px;
      width: 160px;
      .text{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        
        h3{
          color: var(--secondary-color);
          font-size: 4rem !important;
          font-weight: 700;
          text-align: center;
        }
        p{
          text-align: center;
        }
      }
        .border{
          width: 50px;
          height: 20px;
          background-color: var(--primary-color);
      }
    }
  }
}
#sobre {
  padding: 4rem 1rem;
  .content {
    display: flex;
    flex-direction: column;
    img {
      border-bottom: 5px solid var(--primary-color);
    }
    .text {
      text-align: center;
      padding: 0% 1%;
      h3 {
        font-size: var(--mobile-h3);
        margin: 2rem 0;
        text-transform: uppercase;
      }
      p {
        font-size: var(--mobile-txt);
        text-align: center;
      }
    }
  }
}
#associations {
  img {
    width: 100%;
  }
  .text {
    padding: 0%;
    ul {
      width: 100%;
      li {
        display: flex;
        align-items: center;
        font-size: var(--mobile-txt);
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        i {
          font-size: var(--mobile-txt);
        }
        p.text {
          white-space: nowrap;
          padding-left: 3%;
          padding-right: 0%;
        }
        .p-color {
          color: var(--primary-color);
        }
      }
    }
  }
  .bi-geo-alt-fill {
    color: var(--primary-color);
  }
}
#projects {
  .filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    .opt {
      padding: 10px 5px;
      background-color: transparent;
      border: 5px solid var(--primary-color);
      font-weight: bold;
      text-transform: uppercase;
      &.selected {
        border: 5px solid var(--secondary-color);
        background-color: var(--secondary-color);
      }
    }
  }
  .cards {
    width: auto;
    display: flex;
    white-space: none;
    overflow: hidden;
    overflow-x: auto;

    gap: 10px;
    .card {
      width: 100%;
      display: flex;
      align-items: center;
      position: relative;
      flex-direction: column;
      max-width: 310px;
      .status {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--primary-color);
        color: var(--s-text);
        padding: 1rem;
        i {
          font-size: 3rem;
        }
        p {
          font-size: 1.4rem;
        }
      }
      img {
        width: 100%;
      }
      .text {
        width: 100%;
        padding: 10px;
        background-color: var(--secondary-color);
        h3 {
          font-size: var(--mobile-h3);
        }
        .infos {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          p {
            font-size: var(--mobile-txt);
          }
        }
        a {
          padding: 5px 10px;
          border-radius: 10px;
          font-size: var(--mobile-txt);
          color: var(--s-text);
        }
      }
    }
  }
  .navegation-project {
    display: flex;
    align-items: center;
    justify-content: center;
    .projects-opts {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      .options {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: var(--secondary-color);
        &.selected {
          background-color: var(--primary-color);
        }
      }
    }
  }
}
#ONU {
  .cards {
    gap: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    img{
      width: 80px;
    }
  }
}
.flex {
  display: flex;
}
footer {
  background-color: var(--secondary-color);
  .flex {
    padding: 5% 5% 2%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    #footer-content {
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 10px;
      li {
        width: 100%;
      }
      i {
        border-radius: 50%;
      }
      .info {
        display: flex;
        align-items: center;
      }
      hr {
        margin-bottom: 10px;
      }
      #footer-navegation {
        ul {
          display: flex;
          flex-direction: column;
          gap: 10px;
          a {
            font-size: var(--mobile-h3);
            font-family: "Roboto";
          }
        }
      }
      #footer-social {
        ul {
          display: flex;
          gap: 10px;
          i {
            display: flex;
            font-size: 4.8rem;
            width: 4.8rem;
            height: 4.8rem;
            color: var(--s-text);
            border-radius: 50%;
            background-color: var(--p-text);
          }
          a {
            display: flex;
            align-items: center;
            justify-content: center;
          }
          i.bi-facebook {
            color: var(--p-text);
            background-color: var(--s-text);
          }
          i.bi-instagram {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 3.2rem;
          }
          i.bi-telephone-fill {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 3.2rem;
          }
        }
      }
      #footer-contact {
        li {
          padding-left: 10%;
          .info {
            display: flex;
            gap: 20px;
            p {
              font-size: var(--mobile-txt);
            }
            i {
              color: var(--p-text);
            }
          }
        }
      }
    }
  }
  .copyright {
    padding: 1rem 0;
    font-size: var(--mobile-txt);
    border-top: 5px solid var(--primary-color);
    text-align: center;
  }
}
.logo {
  width: 70%;
  background-color: var(--bg-logo);
  border-radius: 50%;
}

main{
  padding: 190px 2% 5%;
  padding-top: 190px;
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  #news{
    max-width: 1400px;
    .main-img{
      width: 100%;
      margin: 5% 0%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    img{
      width: 100%;
      max-width: max-content;
    }
    height: 100%;
    h1{
      text-align: center;
      color: var(--mobile-h1);
    }
    p{
      font-size: var(--mobile-txt);
    }
    a{
      color: var(--primary-color);
      transition: .5s;
      &:hover{
        transform: scale(1.1);
      }
    }
    .text{
      display: flex;
      flex-direction: column;
      gap: var(--mobile-txt);
    }
  }
}

@media screen and (min-width: 425px) {
  #projects {
    .filter {
      justify-content: start;
      gap: 2rem;
    }
  }
}
@media screen and (min-width: 768px) {
  header{
    height: fit-content;
    .header_logo{
      max-width: 140px;
    }
  }
  #main, main{
    padding-top: 234px;
  }
  main{
    h1{
      margin-top: 3%;
    }
  }

  #mobile-menu {
    display: none !important;
  }
  #desktop-menu {
    display: flex !important;
    justify-content: center;
    gap: 2%;

    a {
      text-transform: uppercase;
      font-size: var(--desktop-h3);
    }
  }
  #associations {
    padding-bottom: 4%;
    .display{
      display: flex;
      flex-direction: column;
      align-items: center;
      img{
        width: 50%;
      }
      .text{
        display: flex;
        gap: 5%;
      }
    }
  }
  #ONU{
    img{
      width: 100px;
    }
  }
  #sobre{
    img{
      width: 30%;
    }
  }
}
@media screen and (min-width: 1024px) {
  h2 {
    text-align: start;
  }
  h3 {
    font-size: var(--desktop-h3) !important;
  }
  p {
    font-size: var(--desktop-txt);
  }
  .header h2,
  .contact a {
    font-size: var(--desktop-h2);
  }
  .device-padding {
    padding: 2% 10%;
  }
  header {
    height: 250px;
    padding: 1vh 10vw;
    .header_logo {
      max-width: 140px !important;
      img{
        width: 100%;
      }
    }
    ul{
      padding-bottom: 0;
    }
    
  }
  main{
    padding-top: 250px;
    h1{
      font-size: var(--desktop-h1);
    }
  }
  #main {
    padding-top: 250px;
    .news {
      position: relative;
      .new {
        position: relative;
        img {
          width: 100%;
          object-fit: fill;
          height: 70vh;
        }
        .info {
          display: flex;
          height: 30%;
          flex-direction: column;
          position: absolute;
          gap: 3%;
          width: 50%;
          bottom: 0%;
          a {
            width: 30%;
          }
        }
      }
    }
  }
  #news{
    h1{
      font-size: var(--desktop-h1) !important;
    }
  }
  #sobre {
    padding: 4rem 10%;
    .content {
      flex-direction: row;
      gap: 4%;
      img {
        width: 100%;
        border: none;
        border-right: 5px solid var(--primary-color);
      }
      .text{
        width: 120%;
      }
      .text p,
      .text h3 {
        text-align: justify;
      }
      .text p{
        font-size: 2.3rem;
      }
    }
  }
  #acting{
    .content{
      width: 100%;
      max-width: 1000px;
      margin: 0 auto;
      justify-content: space-between;
    }
  }
  #associations {
    padding: 2%;
    .header {
      padding: 2% 8%;
    }
    .display {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      img {
        width: 25%;
      }
      .text {
        padding: 0% 2%;
        display: flex;
        gap: 5%;
        ul {
          gap: 30px;
          p {
            font-size: 20px;
          }
        }
      }
    }
  }

  #ONU {
    .cards {
      justify-content: space-between;
      img {
        width: 150px;
      }
    }
  }
  .contact {
    padding: 5%;
  }
  footer {
    .logo {
      width: 15%;
    }
    .flex {
      padding: 2%;
      flex-direction: row;
      align-items: start;
      justify-content: space-between;
      gap: 20px;
      #footer-content {
        width: 60%;
        align-items: start;
        flex-direction: row;
        h2 {
          text-align: start;
        }
        #footer-contact {
          ul {
            display: flex;
            flex-direction: column;
            gap: 20px;
            li {
              padding: 0;
            }
          }
        }
        #footer-social {
          ul {
            justify-content: start;
            li {
              width: auto;
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width: 1440px) {
  #body-content{
    max-width: 1920px;
    margin: 0 auto;
  }
  footer{
    .flex{
      max-width: 1920px;
      margin: 0 auto;
      
    }
  }
}
