*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
:root{
    --primary-color: #4B9250;
    --secondary-color: #FEA23B;
    --p-text: #000000;
    --s-text: #ffffff;
}