* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  border: none;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
html {
  font-size: 62.5%;
}
:root {
  --primary-color: #4b9250;
  --secondary-color: #fea23b;
  --p-text: #000000;
  --s-text: #ffffff;
  --bg-logo: #ffffff;
  --mobile-txt: 1.6rem;
  --mobile-txt2: 1.4rem;
  --mobile-h1: 2.5rem;
  --mobile-h2: 2.5rem;
  --mobile-h3: 2rem;
  --desktop-txt: 1.8rem;
  --desktop-h1: 3.2rem;
  --desktop-h2: 3.2rem;
  --desktop-h3: 2.4rem;
}
a {
  color: var(--p-text);
  transition: 0.5s;
}
a:hover {
  transform: scale(1.1);
}
i {
  font-size: 36px;
}
h1,
h2 {
  font-family: "Roboto";
  text-transform: uppercase;
  text-align: center;
}
h2 {
  font-size: var(--mobile-h2);
}
p {
  font-family: "Nunito", sans-serif;
}
#mobile-nav {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: var(--secondary-color);
  z-index: 5;
  text-align: center;
  border-top: 5px solid var(--p-text);
  align-items: center;
  justify-content: center;

  ul {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    li {
      width: 100%;
      a {
        font-size: var(--desktop-h2);
        font-weight: bold;
      }
    }
  }
}
.device-padding {
  padding: 0 2%;
}
.btn-primary {
  background-color: var(--primary-color);
}
hr {
  width: 100%;
  height: 1px;
  background-color: var(--p-text);
}
header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-color);
  padding-top: 1rem;
  gap: 1rem;
  #desktop-menu {
    display: none;
  }
  #mobile-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    button {
      background-color: transparent;
    }
  }
  img {
    width: 25%;
    background-color: var(--bg-logo);
    border-radius: 50%;
  }
  hr {
    width: 100%;
    height: 5px;
    color: var(--p-text);
    background-color: var(--p-text);
  }
  nav {
    width: 100%;
    ul {
      font-family: "Roboto";
      display: flex;
      justify-content: space-between;
      li {
        display: flex;
        a {
          font-size: var(--desktop-h2);
          font-weight: bold;
        }
      }
    }
  }
}
.header {
  h2 {
    color: var(--primary-color);
    font-size: var(--mobile-h2);
  }
  margin-bottom: 10px;
}
.contact {
  width: 100%;
  margin-top: 10%;
  padding: 10% 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  font-weight: bold;
  text-align: center;
  a {
    font-size: var(--mobile-h2);
    color: var(--s-text);
    font-family: "Roboto";
    text-transform: uppercase;
  }
}
#main {
  .news {
    background-color: var(--secondary-color);
    h1 {
      font-size: var(--mobile-h1);
      text-align: start;
      padding: 1rem;
    }
    a.btn {
      justify-content: center;
      display: flex;
      width: 100%;
      text-align: center;
      background-color: var(--primary-color);
      color: var(--s-text);
      padding: 2rem 0;
      font-size: var(--mobile-h3);
      font-weight: bold;
      text-transform: uppercase;
    }
  }
  #btns-news {
    display: flex;
    align-items: center;
    justify-content: center;
    .btn {
      width: 15px;
      height: 15px;
      border: 1px solid var(--s-text);
      background-color: var(--secondary-color);
      border-radius: 50%;
      &.btn-selected {
        background-color: var(--primary-color);
      }
    }
  }
}
#sobre {
  padding: 4rem 0;
  .content {
    display: flex;
    flex-direction: column;
    img {
      border-bottom: 5px solid var(--primary-color);
    }
    .text {
      text-align: center;
      padding: 0% 1%;
      h3 {
        font-size: var(--mobile-h3);
        margin: 2rem 0;
      }
      p {
        font-size: var(--mobile-txt);
        text-align: center;
      }
    }
  }
}
#associations {
  img {
    width: 100%;
  }
  .text {
    padding: 0% 6%;
    ul {
      li {
        display: flex;
        align-items: center;
        font-size: var(--mobile-txt);
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        i {
          font-size: var(--mobile-txt);
        }
        p.text {
          padding-left: 3%;
          padding-right: 0%;
        }
        .p-color {
          color: var(--primary-color);
        }
      }
    }
  }
}
#projects {
  .filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    .opt {
      padding: 10px 5px;
      background-color: transparent;
      border: 5px solid var(--primary-color);
      font-weight: bold;
      text-transform: uppercase;
      &.selected {
        border: 5px solid var(--secondary-color);
        background-color: var(--secondary-color);
      }
    }
  }
  .cards {
    width: auto;
    display: flex;
    white-space: none;
    overflow: hidden;
    overflow-x: auto;

    gap: 10px;
    .card {
      width: 100%;
      min-width: 310px;
      display: flex;
      align-items: center;
      position: relative;
      flex-direction: column;
      .status {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--primary-color);
        color: var(--s-text);
        padding: 1rem;
        i {
          font-size: 3rem;
        }
        p {
          font-size: 1.4rem;
        }
      }
      img {
        width: 100%;
      }
      .text {
        width: 100%;
        padding: 10px;
        background-color: var(--secondary-color);
        h3 {
          font-size: var(--mobile-h3);
        }
        .infos {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          p {
            font-size: var(--mobile-txt);
          }
        }
        a {
          padding: 5px 10px;
          border-radius: 10px;
          font-size: var(--mobile-txt);
          color: var(--s-text);
        }
      }
    }
  }
  .navegation-project {
    display: flex;
    align-items: center;
    justify-content: center;
    .projects-opts {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      .options {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: var(--secondary-color);
        &.selected {
          background-color: var(--primary-color);
        }
      }
    }
  }
}
#ONU {
  .cards {
    gap: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
}
.flex {
  display: flex;
}
footer {
  background-color: var(--secondary-color);
  .flex {
    padding: 5% 5% 2%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    #footer-content {
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 10px;
      li {
        width: 100%;
      }
      i {
        border-radius: 50%;
      }
      .info {
        display: flex;
        align-items: center;
      }
      hr {
        margin-bottom: 10px;
      }
      #footer-navegation {
        ul {
          display: flex;
          flex-direction: column;
          gap: 10px;
          a {
            font-size: var(--mobile-h3);
            font-family: "Roboto";
          }
        }
      }
      #footer-social {
        ul {
          display: flex;
          gap: 10px;
          i {
            display: flex;
            font-size: 4.8rem;
            width: 4.8rem;
            height: 4.8rem;
            color: var(--s-text);
            border-radius: 50%;
            background-color: var(--p-text);
          }
          a {
            display: flex;
            align-items: center;
            justify-content: center;
          }
          i.bi-facebook {
            color: var(--p-text);
            background-color: var(--s-text);
          }
          i.bi-instagram {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 3.2rem;
          }
          i.bi-telephone-fill {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 3.2rem;
          }
        }
      }
      #footer-contact {
        li {
          padding-left: 10%;
          .info {
            display: flex;
            gap: 20px;
            p {
              font-size: var(--mobile-txt);
            }
            i {
              color: var(--p-text);
            }
          }
        }
      }
    }
  }
  .copyright {
    padding: 1rem 0;
    font-size: var(--mobile-txt);
    border-top: 5px solid var(--primary-color);
    text-align: center;
  }
}
#associations {
  .bi-geo-alt-fill {
    color: var(--primary-color);
  }
}
.logo {
  width: 70%;
  max-width: 228px;
  background-color: var(--bg-logo);
  border-radius: 50%;
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 1024px) {
  h2 {
    text-align: start;
  }
  h3{
    font-size: var(--desktop-h3) !important;
  }
  .header h2, .contact a{
   font-size: var(--desktop-h2);
  }
  .device-padding {
    padding: 2% 10%;
  }
  header {
    padding: 1vh 10vw;
    i.line {
      width: 1px;
      height: 100%;
      background-color: #000000;
    }
    #mobile-menu {
      display: none !important;
    }
    #desktop-menu {
      display: flex !important;
      justify-content: center;
      gap: 2%;
      a {
        text-transform: uppercase;
        font-size: var(--desktop-h3);
      }
    }
  }
  #sobre {
    padding: 4rem 10%;
    .content {
      flex-direction: row;
      gap: 4%;
      img {
        border: none;
        border-right: 5px solid var(--primary-color);
      }
      .text p, .text h3{
        text-align: justify;
      }
    }
  }
  #associations {
    .display {
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 30%;
      }
      .text {
        padding: 0% 2%;
        display: flex;
      }
    }
  }
  #projects {
    .filter {
      justify-content: start;
      gap: 2rem;
    }
  }
  #ONU {
    .cards {
      justify-content: space-between;
    }
  }
  .contact{
    padding: 5%;
  }
  footer {
    .flex {
      flex-direction: row;
      gap: 20px;
      .logo {
        width: 30%;
      }
      #footer-content {
        align-items: start;
        flex-direction: row;
        h2 {
          text-align: start;
        }
        #footer-contact {
          ul {
            display: flex;
            flex-direction: column;
            gap: 20px;
            li {
              padding: 0;
            }
          }
        }
      }
    }
  }
}
