* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  border: none;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-padding-top: 30vh;
  scroll-behavior: smooth;
}

body {
  width: 100%;
}

html {
  font-size: 62.5%;
}

:root {
  --primary-color: #4b9250;
  --secondary-color: #fea23b;
  --p-text: #000000;
  --s-text: #ffffff;
  --bg-logo: #ffffff;
  --mobile-txt: 1.6rem;
  --mobile-txt2: 1.4rem;
  --mobile-h1: 2.5rem;
  --mobile-h2: 2.5rem;
  --mobile-h3: 2rem;
  --desktop-txt: 2rem;
  --desktop-h1: 3.2rem;
  --desktop-h2: 3.2rem;
  --desktop-h3: 2.4rem;
}

a {
  color: var(--p-text);
  transition: 0.5s;
}

a:hover {
  transform: scale(1.1);
}

i {
  font-size: 36px;
}

h1,
h2 {
  font-family: "Roboto";
  text-transform: uppercase;
  text-align: center;
}

h2 {
  font-size: var(--mobile-h2);
}

p {
  font-family: "Nunito", sans-serif;
}

@keyframes slide {
  from {
    right: -100vw;
  }
  to {
    right: 0vw;
  }
}
#mobile-nav {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: var(--secondary-color);
  right: -100vw;
  z-index: 5;
  text-align: center;
  padding-top: 21vh;
  align-items: start;
  justify-content: center;
  transition: 0.5s;
}
#mobile-nav.show {
  transition: 0.5s;
  display: flex;
  right: 0vw;
  animation: slide 0.5s;
}
#mobile-nav ul {
  border-top: 5px solid var(--p-text);
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
#mobile-nav ul li {
  width: 100%;
}
#mobile-nav ul li a {
  font-size: var(--desktop-h2);
  font-weight: bold;
}

.device-padding {
  padding: 0 2%;
}

.btn-primary {
  background-color: var(--primary-color);
}

hr {
  width: 100%;
  height: 1px;
  background-color: var(--p-text);
}

header {
  width: 100vw;
  height: 180px;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-color);
  padding-top: 1rem;
  gap: 1rem;
  z-index: 10;
}
header i.line {
  width: 1px;
  height: 100%;
  background-color: #000000;
}
header #desktop-menu {
  display: none;
  background-color: var(--secondary-color);
  padding-bottom: 1rem;
}
header #mobile-menu {
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}
header #mobile-menu button {
  background-color: transparent;
}
header img {
  width: 25%;
  background-color: var(--bg-logo);
  border-radius: 50%;
  max-width: 90px;
}
header hr {
  width: 100%;
  height: 5px;
  color: var(--p-text);
  background-color: var(--p-text);
}
header nav {
  width: 100%;
}
header nav ul {
  font-family: "Roboto";
  display: flex;
  justify-content: space-between;
}
header nav ul li {
  display: flex;
}
header nav ul li a {
  font-size: var(--desktop-h2);
  font-weight: bold;
}

.header {
  margin-bottom: 10px;
}
.header h2 {
  color: var(--primary-color);
  font-size: var(--mobile-h2);
}

.contact {
  width: 100%;
  margin-top: 10%;
  padding: 10% 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  font-weight: bold;
  text-align: center;
}
.contact a {
  font-size: var(--mobile-h2);
  color: var(--s-text);
  font-family: "Roboto";
  text-transform: uppercase;
}

#main {
  padding-top: 180px;
}
#main .news {
  width: 100%;
}
#main .news h1 {
  background-color: var(--secondary-color);
  font-size: var(--mobile-h1);
  text-align: start;
  padding: 1rem;
}
#main .news img {
  width: 100%;
}
#main .news a.btn {
  justify-content: center;
  display: flex;
  width: 100%;
  text-align: center;
  background-color: var(--primary-color);
  color: var(--s-text);
  padding: 2rem 0;
  font-size: var(--mobile-h3);
  font-weight: bold;
  text-transform: uppercase;
}
#main #btns-news {
  display: flex;
  align-items: center;
  justify-content: center;
}
#main #btns-news .btn {
  width: 15px;
  height: 15px;
  border: 1px solid var(--s-text);
  background-color: var(--secondary-color);
  border-radius: 50%;
}
#main #btns-news .btn.btn-selected {
  background-color: var(--primary-color);
}

#sobre {
  padding: 4rem 1rem;
}
#sobre .content {
  display: flex;
  flex-direction: column;
}
#sobre .content img {
  border-bottom: 5px solid var(--primary-color);
}
#sobre .content .text {
  text-align: center;
  padding: 0% 1%;
}
#sobre .content .text h3 {
  font-size: var(--mobile-h3);
  margin: 2rem 0;
  text-transform: uppercase;
}
#sobre .content .text p {
  font-size: var(--mobile-txt);
  text-align: center;
}

#associations img {
  width: 100%;
}
#associations .text {
  padding: 0%;
}
#associations .text ul {
  width: 100%;
}
#associations .text ul li {
  display: flex;
  align-items: center;
  font-size: var(--mobile-txt);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
#associations .text ul li i {
  font-size: var(--mobile-txt);
}
#associations .text ul li p.text {
  white-space: nowrap;
  padding-left: 3%;
  padding-right: 0%;
}
#associations .text ul li .p-color {
  color: var(--primary-color);
}
#associations .bi-geo-alt-fill {
  color: var(--primary-color);
}

#projects .filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
#projects .filter .opt {
  padding: 10px 5px;
  background-color: transparent;
  border: 5px solid var(--primary-color);
  font-weight: bold;
  text-transform: uppercase;
}
#projects .filter .opt.selected {
  border: 5px solid var(--secondary-color);
  background-color: var(--secondary-color);
}
#projects .cards {
  width: auto;
  display: flex;
  white-space: none;
  overflow: hidden;
  overflow-x: auto;
  gap: 10px;
}
#projects .cards .card {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  flex-direction: column;
  max-width: 310px;
}
#projects .cards .card .status {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--primary-color);
  color: var(--s-text);
  padding: 1rem;
}
#projects .cards .card .status i {
  font-size: 3rem;
}
#projects .cards .card .status p {
  font-size: 1.4rem;
}
#projects .cards .card img {
  width: 100%;
}
#projects .cards .card .text {
  width: 100%;
  padding: 10px;
  background-color: var(--secondary-color);
}
#projects .cards .card .text h3 {
  font-size: var(--mobile-h3);
}
#projects .cards .card .text .infos {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#projects .cards .card .text .infos p {
  font-size: var(--mobile-txt);
}
#projects .cards .card .text a {
  padding: 5px 10px;
  border-radius: 10px;
  font-size: var(--mobile-txt);
  color: var(--s-text);
}
#projects .navegation-project {
  display: flex;
  align-items: center;
  justify-content: center;
}
#projects .navegation-project .projects-opts {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
#projects .navegation-project .projects-opts .options {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--secondary-color);
}
#projects .navegation-project .projects-opts .options.selected {
  background-color: var(--primary-color);
}

#ONU .cards {
  gap: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
#ONU .cards img {
  width: 80px;
}

.flex {
  display: flex;
}

footer {
  background-color: var(--secondary-color);
}
footer .flex {
  padding: 5% 5% 2%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer .flex #footer-content {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
footer .flex #footer-content li {
  width: 100%;
}
footer .flex #footer-content i {
  border-radius: 50%;
}
footer .flex #footer-content .info {
  display: flex;
  align-items: center;
}
footer .flex #footer-content hr {
  margin-bottom: 10px;
}
footer .flex #footer-content #footer-navegation ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer .flex #footer-content #footer-navegation ul a {
  font-size: var(--mobile-h3);
  font-family: "Roboto";
}
footer .flex #footer-content #footer-social ul {
  display: flex;
  gap: 10px;
}
footer .flex #footer-content #footer-social ul i {
  display: flex;
  font-size: 4.8rem;
  width: 4.8rem;
  height: 4.8rem;
  color: var(--s-text);
  border-radius: 50%;
  background-color: var(--p-text);
}
footer .flex #footer-content #footer-social ul a {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .flex #footer-content #footer-social ul i.bi-facebook {
  color: var(--p-text);
  background-color: var(--s-text);
}
footer .flex #footer-content #footer-social ul i.bi-instagram {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
}
footer .flex #footer-content #footer-social ul i.bi-telephone-fill {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
}
footer .flex #footer-content #footer-contact li {
  padding-left: 10%;
}
footer .flex #footer-content #footer-contact li .info {
  display: flex;
  gap: 20px;
}
footer .flex #footer-content #footer-contact li .info p {
  font-size: var(--mobile-txt);
}
footer .flex #footer-content #footer-contact li .info i {
  color: var(--p-text);
}
footer .copyright {
  padding: 1rem 0;
  font-size: var(--mobile-txt);
  border-top: 5px solid var(--primary-color);
  text-align: center;
}

.logo {
  width: 70%;
  background-color: var(--bg-logo);
  border-radius: 50%;
}

@media screen and (min-width: 425px) {
  #projects .filter {
    justify-content: start;
    gap: 2rem;
  }
}
@media screen and (min-width: 768px) {
  header {
    height: -moz-fit-content;
    height: fit-content;
  }
  header img {
    max-width: 160px;
  }
  #main {
    padding-top: 234px;
  }
  #mobile-menu {
    display: none !important;
  }
  #desktop-menu {
    display: flex !important;
    justify-content: center;
    gap: 2%;
  }
  #desktop-menu a {
    text-transform: uppercase;
    font-size: var(--desktop-h3);
  }
  #associations {
    padding-bottom: 4%;
  }
  #associations .display {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #associations .display img {
    width: 50%;
  }
  #associations .display .text {
    display: flex;
    gap: 5%;
  }
  #ONU img {
    width: 100px;
  }
}
@media screen and (min-width: 1024px) {
  h2 {
    text-align: start;
  }
  h3 {
    font-size: var(--desktop-h3) !important;
  }
  p {
    font-size: var(--desktop-txt);
  }
  .header h2,
  .contact a {
    font-size: var(--desktop-h2);
  }
  .device-padding {
    padding: 2% 10%;
  }
  header {
    height: 301px;
    padding: 1vh 10vw;
  }
  header img {
    max-width: 220px;
  }
  header i.line {
    width: 1px;
    height: 100%;
    background-color: #000000;
  }
  header ul {
    padding-bottom: 0;
  }
  #main {
    padding-top: 301px;
  }
  #main .news {
    position: relative;
  }
  #main .news .new {
    position: relative;
  }
  #main .news .new img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    height: 70vh;
  }
  #main .news .new .info {
    display: flex;
    height: 30%;
    flex-direction: column;
    position: absolute;
    gap: 3%;
    width: 65%;
    bottom: 0%;
  }
  #main .news .new .info a {
    width: 30%;
  }
  #sobre {
    padding: 4rem 10%;
  }
  #sobre .content {
    flex-direction: row;
    gap: 4%;
  }
  #sobre .content img {
    min-width: 32%;
    border: none;
    border-right: 5px solid var(--primary-color);
  }
  #sobre .content .text p,
  #sobre .content .text h3 {
    text-align: justify;
  }
  #sobre .content .text p {
    font-size: 2.3rem;
  }
  #associations {
    padding: 2%;
  }
  #associations .header {
    padding: 2% 8%;
  }
  #associations .display {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  #associations .display img {
    width: 25%;
  }
  #associations .display .text {
    padding: 0% 2%;
    display: flex;
    gap: 5%;
  }
  #associations .display .text ul {
    gap: 30px;
  }
  #associations .display .text ul p {
    font-size: 20px;
  }
  #ONU .cards {
    justify-content: space-between;
  }
  #ONU .cards img {
    width: 150px;
  }
  .contact {
    padding: 5%;
  }
  footer .logo {
    width: 15%;
  }
  footer .flex {
    padding: 2%;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    gap: 20px;
  }
  footer .flex #footer-content {
    width: 60%;
    align-items: start;
    flex-direction: row;
  }
  footer .flex #footer-content h2 {
    text-align: start;
  }
  footer .flex #footer-content #footer-contact ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  footer .flex #footer-content #footer-contact ul li {
    padding: 0;
  }
  footer .flex #footer-content #footer-social ul {
    justify-content: start;
  }
  footer .flex #footer-content #footer-social ul li {
    width: auto;
  }
}
@media screen and (min-width: 1440px) {
  #body-content {
    max-width: 1800px;
    margin: 0 auto;
  }
  footer .flex {
    max-width: 1800px;
    margin: 0 auto;
  }
}/*# sourceMappingURL=style.css.map */